<h1>Workshop Manager</h1>


<form action="ws" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="event">
    </div>
    <div>
        <label for="branch">Branch</label>
        <input type="text" name="branch" id="branch">
    </div>
    <div>
        <label for="price">Rate</label>
        <input type="text" name="price" id="price">
    </div>
    <div>
        <label for="date">Date</label>
        <input type="date" name="date" id="date">
    </div>
    <div>
        <label for="content">Content</label>
        <textarea name="content" cols="50" rows="50"></textarea>
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>