<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Management</title>
</head>

<body>
    <h1>Workshop Manager</h1>
    <!-- Update Form -->
    <form action="" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="event" value="" required>
        </div>
        <div>
            <label for="branch">Branch</label>
            <input type="text" name="branch" id="branch" value="" required>
        </div>
        <div>
            <label for="price">Rate</label>
            <input type="text" name="price" id="price" value="" required>
        </div>
        <div>
            <label for="date">Date</label>
            <input type="text" name="date" id="date" value="" required>
        </div>
        <div>
            <label for="content">Content</label>
            <textarea name="content" cols="50" rows="5" value=""></textarea>
        </div>
        <div>
            <label for="label">Label</label>
            <input type="text" name="label" id="label" value="" required>
        </div>
        <div>
            <p>Contacts:</p>
            <label for="contact1">Contact-1 name : </label>
            <input type="text" name="contactname1" id="" value="">
            <label for="contact1">Contact-1 phone</label>
            <input type="text" name="contactphone1" id="" value="">
            <div></div>
            <label for="contact2">Contact-2 name : </label>
            <input type="text" name="contactname2" value="">
            <label for="contact2">Contact-2 phone</label>
            <input type="text" name="contactphone2" value="">
        </div>
        <div>
            <label for="message">Add Message : </label>
            <input type="text" name="message" value="">
        </div>
        <div>
            <label for="details">Details : </label>
            <input type="text" name="details" value="">
        </div>
        <div>
            <label for="pdgUrl">PDF url : </label>
            <input type="text" name="pdf" value="">
        </div>
        <div>
            <label for="url">Payment url</label>
            <input type="text" name="url" value="" required>
        </div>
        <div>
            <button>Submit</button>
        </div>

    </form>

</body>

</html>