<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DHISHNA - | ABOUT</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="assets/css/about.css">
    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/social_icon.css">
    
    
</head>
<body>
        <!-- navbar -->
        <section>
            <header>
                <div id="myNav" class="overlay">
                    <!-- Button to close the overlay navigation -->
                    
                    <!-- Overlay content -->
                    <div class="overlay-content">
                        
                       <!--  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>  -->     
                        <div onclick="closeNav()" class="burger" id="closebutton">
                             <i class="fa fa-times" aria-hidden="true"></i>
                        </div>   
                        <div class="links">
                            <a href="/home">HOME</a>
                            <a href="/about">ABOUT</a>
                            <a href="/event">EVENTS</a>
                            <a href="/workshop">WORKSHOPS</a>
                            <a href="/exhibition">EXHIBITION</a>
                            <a href="/outreach">OUTREACH</a>
                            <a href="/map">MAP</a>
                            <a href="/contact">CONTACT</a>
                        </div>
            
                        <ul class="circles" id="circles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                         </ul>
                    
                    </div>
                </div>
            </header>
            <div onclick="openNav()" class="burger">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
        </section>
    
    <!-- navbar ends -->
    <section>
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="space"></div>
                <div class="col col-12 text-center text-md-left">
                    <h3 class="home_head">ABOUT  DHISHNA 2020</h3>
                </div>
            </div><!-- &&row -->
             <!-- row -->
            <div class="row">
                <div class="col col-12">
                    <div class="space-50"></div>
                    <div class="row">
                        <div class="col col-12" >
                            <div class="about_p text-md-left text-center">
                                Coming together is a beginning; keeping together is progress; working together is success.
                            </div>
                            
                        </div>
                    </div>
                    <div class="space-50"></div>
                </div>
            </div><!-- &&row -->
            
        </div><!-- container end -->
        
    </section>
    <!-- =========================================== -->
    <div class="space-50"></div>
    <section>
        <div class="container stage">
            <div class="row">
                <div class="col col-12">
                    <div class="row ">

                        <!--=========  -->
                        <div class="col col-12 col-md-6">
                        <div class="card">
                            <div class="imgB">
                                <!-- <img src="https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" alt=""> -->
                                <!-- <img src="img/pic1.jpg" alt=""> -->
                                <div class="h_text">
                                    ABOUT DHISHNA
                                </div>
                            </div>
                            <div class="details">
                                <h2>About</h2>
                                <p>Dhishna, the technical festival of School Of Engineering, CUSAT is a technical extravaganza which plays host to students from all over india.
                                    A myriad of events, mind boggling games, a cornucopia of challenges and competitions, exciting prizes and above all, an adventure that shouldn’t be missed! The 7 specialized branches of SOE, CUSAT merge together their talents, resources and hard work, the building blocks for Dhishna.</p>
                            </div>
                        </div>
                        </div>
                        <!--  -->
                        

                        <!--=========  -->
                        <div class="col col-12 col-md-6">
                            <div class="card">
                                <div class="imgB">
                                    <!-- <img src="https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" alt=""> -->
                                    <!-- <img src="img/pic4.jpg" alt=""> -->
                                    <div class="h_text">
                                        HISTORY
                                    </div>
                                </div>
                                <div class="details">
                                    <h2>History</h2>
                                    <p>Dhishna has its origin from Xplendor, the annual tech-fest of SOE, CUSAT held in 2010. From technical workshops to techniques, from hackathons to musical nights, Xplendor touched all spheres of a student’s life. Although the first of its kind, it opened gateways for students to showcase their technical skills and talents</p>

                                    </div>
                            </div>
                        </div>
                            <!--  -->

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="space-50"></div>
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <iframe class="frame" src="https://www.youtube.com/embed/ubGv3WEYRsg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
        
    </section>

    <section>
    <!-- footer social media icons -->
    <div class="space"></div>
    <div class="container">
        <div class="row">
            <div class="col col-12 stage">
                <ul class="social_dhishna ">
                    <li>
                        <a href="#" title=""><i class="fa fa-facebook-f" ></i></a>
                    </li>
                    <li>
                        <a href="#" title=""><i class="fa fa-instagram" ></i></a>
                    </li>
                    <!-- <li>
                        <a href="#" title=""><i class="fa fa-linkedin" ></i></a>
                    </li> -->
                    <!-- <li>
                        <a href="#" title=""><i class="fa fa-twitter" ></i></a>
                    </li> -->
                    <li>
                        <a href="#" title=""><i class="fa fa-youtube" ></i></a>
                    </li>
                    
                </ul>
            </div>
            <div class="space"></div>
        </div>

    </div>
</section>
    <script src="assets/js/navbar.js"></script>
    <!-- script -->

</body>
</html>