<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DHISHNA  - About</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/about.css">
    <link rel="stylesheet" href="assets/css/social_icon.css">
    
    
</head>
<body>

    <!-- canvas section -->
     <section>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js'></script>
        <script src="assets/js/stars.js"></script>
    </section>
    <!-- canvas ends -->


    <!-- back button -->
    <div class="back_button animated fadeInUp delay-1s">
         <a href="home"><img src="assets/img/logo.png" alt=""></a>
    </div>

        <!-- navbar -->
        <%- include("partials/nav") %>
    
    <!-- navbar ends -->
    <section>
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="space"></div>
                <div class="col col-12 text-center text-md-left">
                    <h3 class="home_head animated fadeInUp delay-1s text-center">DHISHNA </h3>
                </div>
            </div><!-- &&row -->
             <!-- row -->
            <div class="row animated fadeInUp delay-1s">
                <div class="col col-12">
                    <div class="space-50"></div>
                    <div class="row ">
                        <div class="col col-12" >
                            <div class="about_p text-center">
                                Coming together is a beginning; keeping together is progress; working together is success.
                            </div>
                            
                        </div>
                    </div>
                    <!-- <div class="space-50"></div> -->
                </div>
            </div><!-- &&row -->
            
        </div><!-- container end -->
        
    </section>
    <!-- =========================================== -->
    <div class="space-50"></div>
    <section>
        <div class="container ">
            <div class="row align-items-center animated fadeInUp delay-1s"> 
                <div class="col col-12 text-center about_text">THE INFINITE ODYSSEY</div>
                <div class="col col-12 text-center about_p ">
                    Dhishna, the technical festival of School Of Engineering, CUSAT is a technical extravaganza which plays host to students from all over india.
                    A myriad of events, mind boggling games, a cornucopia of challenges and competitions, exciting prizes and above all, an adventure that shouldn’t be missed! The 7 specialized branches of SOE, CUSAT merge together their talents, resources and hard work, the building blocks for Dhishna.
                
                    Dhishna has its origin from Xplendor, the annual tech-fest of SOE, CUSAT held in 2010. From technical workshops to techniques, from hackathons to musical nights, Xplendor touched all spheres of a student’s life. Although the first of its kind, it opened gateways for students to showcase their technical skills and talents.
                
                    Breaking the barriers set by the conventional system of education, Dhishna stands one step ahead into the future. Dhishna gives ‘learning’ a whole new meaning, with tech-talks, seminars, hands-on training and live and video conferences with eminent people in the industry, and aims to establish a culture built on organisational values, processes and practices that will greatly encourage an individual to take great leaps in knowledge. We aim not only to describe the positive impacts and enlighten the society and the future but to also pave the path to achieve this.

                    We aim to honour every technological marvel brought about our way, and to encourage all the young minds out there to come up with great ideas and create a better world out here!


                </div>
            </div>
            

        </div>
    </section>

    <section>
        <div class="space"></div>
        <div class="container">
            <div class="row animated zoomIn delay-1s">
                <div class="col col-12 video_">
                    <iframe class="frame" src="https://www.youtube.com/embed/ubGv3WEYRsg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
        
    </section>

    <section>
        <!-- footer social media icons -->
        <div class="space"></div>
        <div class="container">
            <div class="row">
                <div class="col col-12 animated fadeIn delay-1s">
                    <ul class="social_dhishna ">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/dhishna.cusat/" title=""><i class="fab fa-facebook-f" ></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/dhishna.cusat/" title=""><i class="fab fa-instagram" ></i></a>
                        </li>
                       
                        <li>
                            <a target="_blank" href="https://www.youtube.com/channel/UCxa_SzyC6Ylv2M19RGVCArg" title=""><i class="fab fa-youtube" ></i></a>
                        </li>
                        
                    </ul>
                </div>
                <div class="space"></div>
            </div>

        </div>
    </section>


    <!-- script -->
    <script src="assets/js/navbar.js"></script>
    <!-- script -->

</body>
</html>