<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DHISHNA  | Contact us</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/contact.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/social_icon.css">
    
    
</head>
<body>
  <!-- canvas section -->
<section>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js'></script>
    <script src="assets/js/stars.js"></script>
</section>
<!-- canvas ends -->


<!-- back button -->
<div class="back_button animated zoomIn delay-1s">
    <a href="home"><img src="assets/img/logo.png" alt=""></a>
</div>


        <!-- navbar -->
        <section>
            <header>
                <div id="myNav" class="overlay">
                    <!-- Button to close the overlay navigation -->
                    
                    <!-- Overlay content -->
                    <div class="overlay-content">
                        
                       <!--  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>  -->     
                        <div onclick="closeNav()" class="burger" id="closebutton">
                             <i class="fa fa-times" aria-hidden="true"></i>
                        </div>   
                        <div class="links">
                            <a href="home">HOME</a>
                            <a href="about">ABOUT</a>
                            <!-- <a href="event.html">EVENTS</a> -->
                            <a href="workshop">WORKSHOPS</a>
                            <!-- <a href="exhibition.html">EXHIBITION</a> -->
                            <a href="outreach">INITIATIVES</a>
                            <a href="http://summit.dhishna.org">SUMMIT</a>
                            <a href="profile">PROFILE</a>
                            <!-- <a href="">MAP</a> -->
                            <a href="contact">CONTACT</a>
                        </div>
            
                        <ul class="circles" id="circles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                         </ul>
                    
                    </div>
                </div>
            </header>
            <div onclick="openNav()" class="burger">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
        </section>
    
    <!-- navbar ends -->
    <section>
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="space"></div>
                <div class="col col-12 text-center text-md-left">
                    <h3 class="home_head animated fadeIn delay-1s">CONTACT US</h3>
                </div>
            </div><!-- &&row -->
             <!-- row -->
            <div class="row animated fadeIn delay-1s">
                <div class="col col-12">
                    <div class="space-50"></div>
                    <div class="col col-12 col-md-6 " >
                        <!-- form starts here -->
                        <form  id="mail_form" method="POST" action="/contact" name="mail_form" >
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" name="name" class="form-control" id="name"  required >
                            </div>
                            <div class="form-group">
                              <label for="email">Email address</label>
                              <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" required >
                            </div>
                           
                            
                              
                                <div class="form-group">
                                    <label for="exp">Message</label>
                                    <textarea id="textarea" class="form-control" name="content" rows="3"></textarea>
                                  </div>

                                  <!-- Mail sent message -->
                                <div class="text-danger">
                                        <%= message %>
                                </div> 


                                <div class="text-center">
                                    <a onclick="required()"  class="neon_light">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                        <span></span><i  class="fab fa-telegram" ></i>
                                    </a>
                                </div>
                            
                        </form>  <!-- form ends --> 
                         
                    </div>
                </div>
            </div><!-- &&row -->
            
        </div><!-- container end -->
        
    </section>
    <!-- =========================================== -->
    <div class="space"></div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col col-12 ">
                  
                    <div class="row">
                        <div class="col col-12">
                            <div class="row">
                                <!-- contact box -->
                                <div  class="col col-12  contact-box animated zoomIn delay-1s">
                                    <!-- card -->
                                    <div class="card text-center">
                                        <div class="card_head"></div>
                                        <div class="card_body">email</div>
                                        <div class="card_body"><a href="mailto:mail@dhishna.org?subject=feedback">mail@dhishna.org</a></div>
                                    </div>
                                     <!-- card end -->

                                     <!-- card -->
                                     
                                    <div class="card text-center">
                                        <div class="card_head"></div>
                                        <div class="card_body">Mufnas Muneer</div>
                                        <div class="card_body"><a href="tel:8606797536‬">8606797536</a></div>
                                    </div>
                                     <!-- card end -->

                                     
                                    
                                </div>
                           <!-- ------------- -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ========================= -->

    <section>
        <!-- footer social media icons -->
        <div class="space"></div>
        <div class="container">
            <div class="row">
                <div class="col col-12 ">
                     <ul class="social_dhishna ">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/dhishna.cusat/" title=""><i class="fab fa-facebook-f" ></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/dhishna.cusat/" title=""><i class="fab fa-instagram" ></i></a>
                        </li>
                       
                        <li>
                            <a target="_blank" href="https://www.youtube.com/channel/UCxa_SzyC6Ylv2M19RGVCArg" title=""><i class="fab fa-youtube" ></i></a>
                        </li>
                        
                    </ul>
                </div>
                <div class="space"></div>
            </div>

        </div>
    </section>


    <!-- ========================= -->
    <!-- script -->
    <script src="assets/js/navbar.js"></script>
    <!-- script -->

    <!--  -->
    <script type="text/javascript">
        function required()
        {
            var empt = document.forms["mail_form"]["email"].value;
            var empt1 = document.forms["mail_form"]["content"].value;

            if (empt == "" || empt1 == "")
            {
                alert(':-) Fill all details before sending...');
                return false;
            }
            else 
            {
                
                document.getElementById('mail_form').submit()
                return true; 
            }
        }
    </script>
</body>
</html>