<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DHISHNA - | EVENTS</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="assets/css/event.css">
    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/event_box.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/social_icon.css">
</head>
<body>
        <!-- navbar -->
        <section>
            <header>
                <div id="myNav" class="overlay">
                    <!-- Button to close the overlay navigation -->
                    
                    <!-- Overlay content -->
                    <div class="overlay-content">
                        
                       <!--  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>  -->     
                        <div onclick="closeNav()" class="burger" id="closebutton">
                             <i class="fa fa-times" aria-hidden="true"></i>
                        </div>   
                        <div class="links">
                            <a href="/home">HOME</a>
                            <a href="/about">ABOUT</a>
                            <a href="/event">EVENTS</a>
                            <a href="/workshop">WORKSHOPS</a>
                            <a href="/exhibition">EXHIBITION</a>
                            <a href="/outreach">OUTREACH</a>
                            <a href="/map">MAP</a>
                            <a href="/contact">CONTACT</a>
                        </div>
            
                        <ul class="circles" id="circles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                         </ul>
                    
                    </div>
                </div>
            </header>
            <div onclick="openNav()" class="burger">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
        </section>
    
    <!-- navbar ends -->
    <section>
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="space"></div>
                <div class="col col-12 text-center text-md-left">
                    <h3 class="home_head">EVENTS</h3>
                </div>
            </div><!-- &&row -->
             <!-- row -->
            <div class="row">
                <div class="col col-12 col-xl-6">
                    <div class="space-50"></div>
                    <div class="col col-12" >
                        <ul class="filter_link">
                            <li><a href="">All</a></li>
                            <li><a href="">Coding</a></li>
                            <li><a href="">Games & fun</a></li>
                            <li><a href="">Management</a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- &&row -->
            
        </div><!-- container end -->
        
    </section>
    <!-- =========================================== -->
    <section>
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <div class="space-50"></div>
                <ul class="stage clearfix">
                        <!-- box -->
                        <div class="space-50"></div>
                        <li class="scene">
                            <div class="movie" onclick="return true">
                                <div class="poster">
                                    <div class="poster_head"><h3>Cyber Security</h3></div>
                                </div>
                                <div class="info">
                                    <header>
                                        <h1>It's a Wonderful Life</h1>
                                    </header>
                                    <p >
                                        In Bedford Falls, New York on Christmas Eve, George Bailey is deeply troubled. Prayers for his well-being from friends and family reach Heaven. Clarence Odbody, Angel Second Class, is assigned to visit Earth to save George, thereby earning his wings. Franklin and Joseph, the head angels, review George's life with Clarence.
                                    </p>
                                    <div class="box_button text-center">
                                        <span><a href="#">Register</a></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- box ends -->

                        <!-- box -->
                        <li class="scene">
                            <div class="movie" onclick="return true">
                                <div class="poster">
                                    <div class="poster_head"><h3>Cyber Security</h3></div>
                                </div>
                                <div class="info">
                                    <header>
                                        <h1>Vengeance Valley</h1>
                                    </header>
                                    <p>
                                        A cattle baron takes in an orphaned boy and raises him, causing his own son to resent the boy. As they get older the resentment festers into hatred, and eventually the real son frames his stepbrother for fathering an illegitimate child that is actually his, seeing it as an opportunity to get his half-brother out of the way so he can have his father's empire all to himself.
                                    </p>
                                    <div class="box_button text-center">
                                        <span><a href="#">Register</a></span>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!--  -->
                        <!--  box -->
                        <li class="scene">
                            <div class="movie" onclick="return true">
                                <div class="poster">
                                    <div class="poster_head"><h3>Cyber Security</h3></div>
                                </div>
                                <div class="info">
                                    <header>
                                        <h1>The Gold Rush</h1>
                                    </header>
                                    <p>
                                        The Tramp travels to the Yukon to take part in the Klondike Gold Rush. He gets mixed up with some burly characters and falls in love with the beautiful Georgia. He tries to win her heart with his singular charm.
                                    </p>
                                    <div class="box_button text-center">
                                        <span><a href="#">Register</a></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--  -->


                         <!--  box -->
                         <li class="scene">
                            <div class="movie" onclick="return true">
                                <div class="poster">
                                    <div class="poster_head"><h3>Cyber Security</h3></div>
                                </div>
                                <div class="info">
                                    <header>
                                        <h1>The Gold Rush</h1>
                                       
                                    </header>
                                    <p>
                                        The Tramp travels to the Yukon to take part in the Klondike Gold Rush. He gets mixed up with some burly characters and falls in love with the beautiful Georgia. He tries to win her heart with his singular charm.
                                    </p>
                                    <div class="box_button text-center">
                                        <span><a href="#">Register</a></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--  -->
                </ul>
            </div>
        </div>
    </div>


    </section>

    <section>
    <!-- footer social media icons -->
    <div class="space"></div>
    <div class="container">
        <div class="row">
            <div class="col col-12 stage">
                <ul class="social_dhishna ">
                    <li>
                        <a href="#" title=""><i class="fa fa-facebook-f" ></i></a>
                    </li>
                    <li>
                        <a href="#" title=""><i class="fa fa-instagram" ></i></a>
                    </li>
                    <!-- <li>
                        <a href="#" title=""><i class="fa fa-linkedin" ></i></a>
                    </li> -->
                    <!-- <li>
                        <a href="#" title=""><i class="fa fa-twitter" ></i></a>
                    </li> -->
                    <li>
                        <a href="#" title=""><i class="fa fa-youtube" ></i></a>
                    </li>
                    
                </ul>
            </div>
            <div class="space"></div>
        </div>

    </div>
</section>

    
    
    <script src="assets/js/modernizr.custom.js"></script> 
    <!-- script -->
    <script src="assets/js/navbar.js"></script>
    <!-- script -->

</body>
</html>