<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DHISHNA -   GIFTS</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <link rel="stylesheet" href="/assets/css/common.css">
    <!-- <link rel="stylesheet" href="assets/css/outreach.css"> -->
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/social_icon.css">
    <style type="text/css">

        @media screen and (min-width:800px ){
            .coupen{
                 max-width: 700px;
            }
        }
        
    </style>
    
    
</head>
<body>



     <!-- canvas section -->
     <section>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js'></script>
        <script src="/assets/js/stars.js"></script>
    </section>
    <!-- canvas ends -->


    <!-- back button -->
    <div class="back_button animated zoomIn delay-1s">
        <a href="/home"><img src="/assets/img/logo.png" alt=""></a>
    </div>


<!-- navbar -->

        <!-- navbar -->
        <section>
            <header>
                <div id="myNav" class="overlay">
                    <!-- Button to close the overlay navigation -->
                    
                    <!-- Overlay content -->
                    <div class="overlay-content">
                        
                       <!--  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>  -->     
                        <div onclick="closeNav()" class="burger" id="closebutton">
                             <i class="fa fa-times" aria-hidden="true"></i>
                        </div>   
                        <div class="links">
                            <a href="/home">HOME</a>
                            <a href="/about">ABOUT</a>
                            <!-- <a href="event.html">EVENTS</a> -->
                            <a href="/workshop">WORKSHOPS</a>
                            <!-- <a href="exhibition.html">EXHIBITION</a> -->
                            <a href="/outreach">INITIATIVES</a>
                            <a href="http://summit.dhishna.org">SUMMIT</a>
                            <a href="/profile">PROFILE</a>
                            <!-- <a href="">MAP</a> -->
                            <a href="/contact">CONTACT</a>
                        </div>
            
                        <ul class="circles" id="circles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                         </ul>
                    
                    </div>
                </div>
            </header>
            <div onclick="openNav()" class="burger">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
        </section>
    
    <!-- navbar ends -->
    <section>
        <div class="container">
            <!-- row -->
            <div class="row text-white">
                
                <div class="space"></div>
                <div class="col col-12 text-center">
                    <a href="https://www.instamojo.com/dhishna2020/give-away-211d3/" target="_blank" title="" > <button style="font-size: 1.5em;" type="button" class="btn btn-danger animated jello delay-1s infinite"><i  class="fas fa-ticket-alt"></i> Buy Ticket</button></a> <br><br>

                    <a href="https://www.instamojo.com/dhishna2020/valentine-ticket/" target="_blank" title="" > <button style="font-size: 1.5em;" type="button" class="btn btn-danger animated jello delay-1s infinite"><i  class="fas fa-heart"></i>Buy Valentine's day Ticket</button></a> <br><br>
                 </div>
                <div class="col col-12 text-center ">
                    <h3 class="home_head animated fadeInUp delay-1s"> </h3>
                    <!-- <div style="font-size: 1em;" class="home_head animated fadeInUp delay-1s" >Register now</div> -->
                    <br>
                </div>
                <br>
                <div class="col col-12 text-center">
                    <img src="/assets/img/give_away_2.jpeg" alt="" class="img-fluid ">
                    <img src="/assets/img/give_away_1.png" alt="" class="img-fluid ">
                    
                </div>
                    
                </div>
                 <div class="col col-12 text-center">
                    <img src="/assets/img/give_away_2.png" alt="" class="img-fluid coupen">
                </div>
                 <div class="space-50"></div>
                
                 <div class="col col-12 text-center">
                    <img src="/assets/img/give_away_3.png" alt="" class="img-fluid coupen">
                </div>
                 <div class="space-50"></div>
               
                 <div class="col col-12 text-center">
                    <img src="/assets/img/give_away_4.png" alt="" class="img-fluid coupen">
                </div>
                 <div class="space-50"></div>
               
                 <div class="col col-12 text-center">
                    <img src="/assets/img/give_away_5.png" alt="" class="img-fluid coupen">
                </div>
                <div class="space-50"></div>
               
                 <div class="col col-12 text-center">
                    <img src="/assets/img/give_away_7.png" alt="" class="img-fluid coupen">
                </div>
                <div class="space-50"></div>
               
                 <div class="col col-12 text-center">
                    <img src="/assets/img/give_away_6.png" alt="" class="img-fluid coupen">
                </div>

                 <div class="col col-12 text-center">
                    <img src="/assets/img/give_away_8.png" alt="" class="img-fluid coupen">
                </div>
            </div><!-- &&row -->

            <div class="row" >
            	<div class="space">
            		
            	</div>
            	<div class="col col-12 text-center text-white">
            		<h3>General conditions</h3>
            	</div>	
            	<div class="col col-12 text-white text-center">
            		 <br><br>
 1. Coupons should be redeemed before the last date. <br><br>
2. Once a participant is taken for a daily draw, He won't be considered for next day's draw.<br> He will be only considered for the final mega draw of iPhone 11 pro. <br> He could participate in the next day's draw, only if he purchase another coupon. <br><br>
3. Minimun purchase of redeemable amount should be done to avail the offer. <br><br>
4. The contest is being conducted on both online and offline platforms, <br> with participants on both platforms having a common lucky draw. <br><br>
5.Please ensure that entered mail Id is correct since the token number will be mailed to you. <br><br>
6. If our representative can not get in touch with the winner, then re-drawing will be taken into account. <br><br>

            	</div>
            	<div class="col col-12 text-center text-white"><br><br>
            		<h3>Following conditions apply to individual prizes</h3>
            	</div>	
            	<div class="col col-12 text-center text-white">
            		Coupons from Al-Baik :
            	</div>
            	<div class="col col-12 text-center text-white">
            		1. Coupons not valid for drinks. <br><br>
            		2.Only a single voucher can be redeemed per bill. <br><br>
            		3. With each coupon purchase, you will be getting a 15% discount voucher from Al-Baik, Kalamassery.<br><br>
            	</div>
            	<div class="col col-12 text-white text-center">
            		<br><br><br>
            		<h4 >Do follow our <a href="https://www.instagram.com/dhishna.cusat/" title="" target="_blank" class="text-primary">instagram</a>  page </h4> 
            	</div>
            </div>

        </div><!-- container end -->
        
    </section>
    
    
    <section>
        <!-- footer social media icons -->
        <div class="space"></div>
        <div class="container">
            <div class="row">
                <div class="col col-12 animated zoomIn delay-1s">
                     <ul class="social_dhishna ">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/dhishna.cusat/" title=""><i class="fab fa-facebook-f" ></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/dhishna.cusat/" title=""><i class="fab fa-instagram" ></i></a>
                        </li>
                       
                        <li>
                            <a target="_blank" href="https://www.youtube.com/channel/UCxa_SzyC6Ylv2M19RGVCArg" title=""><i class="fab fa-youtube" ></i></a>
                        </li>
                        
                    </ul>
                </div>
                <div class="space"></div>
            </div>

        </div>
    </section>


    <!-- script -->
    <script src="/assets/js/navbar.js"></script>
    <!-- script -->
</body>
</html>