<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DHISHNA - | THE INFINITE ODYSSEY |</title>
    <link rel="stylesheet" href="assets/css/loader.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/star.css">
    <script src="assets/js/loader.js"></script>
</head>
<body>
     <!-- <div class="loading_scrn"></div> -->
    <div id="dark">
        <div class="loading_scrn"></div>
        <div class="infinity-loader">
            <div class="bg">
              <!--background circles-->
              <div class="left-bg"></div>
              <div class="right-bg"></div>
            </div>
            <div class="fg">
              <!--foreground circles-->
              <div class="top-left-rect">
                <div></div>
              </div>
              <div class="bottom-right-rect">
                <div></div>
              </div>
              <div class="top-right-rect">
                <div></div>
              </div>
              <div class="bottom-left-rect">
                <div></div>
              </div>
            </div>
          </div>
    </div>
    

      <!-- loading ends -->
    
    <!-- canvas section -->
    <section>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js'></script>
        <script src="assets/js/stars.js"></script>
    </section>
    <!-- canvas ends -->


    <!-- boom butoon section -->
    <section>
        <div class="text-box animated zoomIn delay-1s">
            <div class="master_bubble" onclick=" boomOpen()">
                <img id="logo" class="logo " src="assets/img/logo.png" alt="">
                <div class="boom "><a href="https://www.instagram.com/dhishna.cusat/"><i class="fab fa-instagram" ></i></a></div>
                <div class="boom "><a href="https://summit.dhishna.org">SUMMIT</a></div>
                <div class="boom "><a href="https://www.facebook.com/dhishna.cusat/"><i class="fab fa-facebook-f" ></i></a></div>
                <div class="boom "><a href="outreach">OUTREACH</a></div>
                <div class="boom "><a href="profile">PROFILE</a></div>
                <div class="boom "><a href="workshop">WORKSHOPS</a></div>
                <div class="boom "><a href="contact">CONTACT</a></div>
                <div class="boom "><a href="about">ABOUT</a></div>
            
                
            </div>

        </div>
    </section>
    <!-- boom button ends -->


    <!-- theme tag section -->
    <section>
        <div class="theme">
            &copy; DHISHNA 2020 <br>
           THE INFINITE ODYSSEY
          </div>
    </section>

    <!-- theme tag section ends -->
    <section>
        <div class="user_badge">
             <% if(logStatus == true ){ %>
                <div><a href="logout"><i class="fas fa-user"></i> LOGOUT</a></div>
            <% } else {%>
                <div><a href="login"><i class="fas fa-user"></i> LOGIN</a></div>
            <% }%>
            
    </section>
    <!-- --------------------- -->
    <script src="assets/js/boom.js"></script>
</body>
</html>