<h1>This is The Home Page</h1>

<li><a href="/events">Events</a></li>
<li><a href="/workshops">Workshops</a></li>
<li><a href="/exhibitions">Exhibitions</a></li>
<li><a href="/user">Register Here!</a></li>