<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DHISHNA - | OUTREACH</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/outreach.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/social_icon.css">
    
    
</head>
<body>



     <!-- canvas section -->
     <section>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js'></script>
        <script src="assets/js/stars.js"></script>
    </section>
    <!-- canvas ends -->


    <!-- back button -->
    <div class="back_button animated zoomIn delay-1s">
        <a href="home"><img src="assets/img/logo.png" alt=""></a>
    </div>


<!-- navbar -->

        <!-- navbar -->
        <section>
            <header>
                <div id="myNav" class="overlay">
                    <!-- Button to close the overlay navigation -->
                    
                    <!-- Overlay content -->
                    <div class="overlay-content">
                        
                       <!--  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>  -->     
                        <div onclick="closeNav()" class="burger" id="closebutton">
                             <i class="fa fa-times" aria-hidden="true"></i>
                        </div>   
                        <div class="links">
                            <a href="home">HOME</a>
                            <a href="about">ABOUT</a>
                            <!-- <a href="event.html">EVENTS</a> -->
                            <a href="workshop">WORKSHOPS</a>
                            <!-- <a href="exhibition.html">EXHIBITION</a> -->
                            <a href="outreach">OUTREACH</a>
                            <a href="http://summit.dhishna.org">SUMMIT</a>
                            <a href="profile">PROFILE</a>
                            <!-- <a href="">MAP</a> -->
                            <a href="contact">CONTACT</a>
                        </div>
            
                        <ul class="circles" id="circles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                         </ul>
                    
                    </div>
                </div>
            </header>
            <div onclick="openNav()" class="burger">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
        </section>
    
    <!-- navbar ends -->
    <section>
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="space"></div>
                <div class="col col-12 text-center text-md-left">
                    <h3 class="home_head animated fadeInUp delay-1s">OUTREACH </h3>
                </div>
            </div><!-- &&row -->
             <!-- row -->
            <div class="row">
                <div class="col col-12">
                    <div class="space-50"></div>
                    <div class="row animated fadeInUp delay-1s">
                        <div class="col col-12 col-md-6" >
                            <div class="outreach_p">
                                We Cusatians beleive that being a good engineer is not just about excelling in academics and building technologies. It also involves a humanitarian aspect of giving back to the society and making them a part of our professional journey. Hence we want our folks in and around to know our vision and what the future holds. Our team undertakes initiatives such as the introduction of technology to the high school students, social events like clean up campaigns and many more. Connecting with the best organizations, companies, entrepreneurs and individuals will help us and the people around us, entering us in perpetual learning and development process, which is essential for the country and our people.
                            </div>
                            
                        </div>
                        <div class="col col-12 col-md-6" >
                            <div class="animated fadeIn wavy-container">
                                <div class="loader">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <!-- 15 span -->
                                </div>
                
                            </div>
                
                        </div>
                        </div>
                    </div>
                </div>
            </div><!-- &&row -->
            
        </div><!-- container end -->
        
    </section>
    <!-- =========================================== -->
    <div class="space-50"></div>
    <section>
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <!-- ======= -->
                    <div class="row">
                        <div class="col col-12 stage p-3 casection animated zoomIn delay-1s">
                            <div class="outreach_text">
                                DHISHNA 2020 Ambassador Programme
                            </div>
                            <div class="outreach_p p-2">
                                Improve your management skills and enhance your image. Since you would be representing CUSAT, you would be responsible for certain duties. This will improve your managerial and marketing skills, that would boost your personal growth. Furthermore we would provide you with the necessary experience that would make you more likely to be accepted for similar events.
                            </div>
                           <a href="https://ca.dhishna.org"><button>ca.dhihsna.org</button></a> 
                        </div>
                    </div>
                    <div class="space"></div>
                     <!-- ======= -->
                    
                    
                </div>
            </div>
        </div>
    </section>
    
    <section>
        <!-- footer social media icons -->
        <div class="space"></div>
        <div class="container">
            <div class="row">
                <div class="col col-12 animated zoomIn delay-1s">
                     <ul class="social_dhishna ">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/dhishna.cusat/" title=""><i class="fab fa-facebook-f" ></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/dhishna.cusat/" title=""><i class="fab fa-instagram" ></i></a>
                        </li>
                       
                        <li>
                            <a target="_blank" href="https://www.youtube.com/channel/UCxa_SzyC6Ylv2M19RGVCArg" title=""><i class="fab fa-youtube" ></i></a>
                        </li>
                        
                    </ul>
                </div>
                <div class="space"></div>
            </div>

        </div>
    </section>


    <!-- script -->
    <script src="assets/js/navbar.js"></script>
    <!-- script -->
</body>
</html>