<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sponsors | DHISHNA 2020</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/sponsors.css" />
    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/about.css">
    <link rel="stylesheet" href="assets/css/social_icon.css">
    
    
</head>
<body>

    <!-- canvas section -->
    <section>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js'></script>
        <script src="assets/js/stars.js"></script>
    </section>
    <!-- canvas ends -->


    <!-- back button -->
    <div class="back_button animated fadeInUp delay-1s">
        <a href="home"><img src="assets/img/logo.png" alt=""></a>
    </div>

        <!-- navbar -->
       <%- include("partials/nav") %>
    
    <!-- navbar ends -->
    <section>
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="space"></div>
                <div class="col col-12 text-center text-md-left">
                    <h3 class="home_head animated fadeInUp delay-1s text-center">DHISHNA 2020 <br> SPONSORS </h3>
                </div>
            </div><!-- &&row -->
            <!-- row -->
            <div class="row animated fadeInUp delay-1s">
                <div class="col col-12">
                    <div class="space-50"></div>
                    <div class="row ">
                        <div class="col col-12" >
                            <div class="about_p text-center">
                            Introducing the awesome sponsors that powers  <strong>DHISHNA 2020</strong> 
                            </div>
                            
                        </div>
                    </div>
                    <!-- <div class="space-50"></div> -->
                </div>
            </div><!-- &&row -->
            
        </div><!-- container end -->
        
    </section>
    <!-- =========================================== -->
    <div class="space-50"></div>

<!--SPONSORS SECTION-->
    <div class="container">
         <section class="tiles">


            <article class="style1 animated fadeInUp delay-2s">
                <a href="https://www.iocl.com/" target="_blank">
                    <img src="/assets/img/sponsors/SERVO LOGO.JPG" class="logo" alt="">
                    <div class="content">
                    <p>Title Sponsors</p>
                    </div>
                </a>
            </article>
            

        <article class="style1 animated fadeInUp delay-2s">
            <a href="https://www.radiomirchi.com/kochi" target="_blank">
                <img src="/assets/img/sponsors/K.png" class="logo" alt="">
                <div class="content">
                <p>Radio Partner</p>
                </div>
            </a>
        </article>
        <article class="style1 animated fadeInUp delay-2s">
            <a href="https://gaana.com/" target="_blank">
                <img src="/assets/img/sponsors/spons11.png" class="logo" alt="">
                <div class="content">
                <p></p>
                </div>
            </a>
        </article>
        
        <article class="style1 animated fadeInUp delay-2s">
            <a href="https://www.wiley.com/en-us" target="_blank">
                <img src="/assets/img/sponsors/wiley.png" class="logo" alt="">
                <div class="content">
                <p>Knowledge Partner</p>
                </div>
            </a>
        </article>
        
        <article class="style1 animated fadeInUp delay-2s">
            <a href="https://www.imsindia.com/" target="_blank">
                <img src="/assets/img/sponsors/ims.png" class="logo" alt="">
                <div class="content">
                <p>Partner</p>
                </div>
            </a>
        </article>


        <article class="style1 animated fadeInUp delay-2s" target="_blank">
            <a href="https://www.fastrack.in/ ">
                <img src="/assets/img/sponsors/fasttrack.png" class="logo" alt="">
                <div class="content">
                <p>Official Time Keeper</p>
                </div>
            </a>
        </article>

        <article class="style1 animated fadeInUp delay-2s">
            <a href="https://wildcraft.com/" target="_blank">
                <img src="/assets/img/sponsors/spons1.jpg" class="logo" alt="">
                <div class="content">
                <p></p>
                </div>
            </a>
        </article>
         <article class="style1 animated fadeInUp delay-2s">
            <a href="https://becloudtechnologies.com/" target="_blank">
                <img src="/assets/img/sponsors/spons2.png" class="logo" alt="">
                <div class="content">
                <p></p>
                </div>
            </a>
        </article>
         <article class="style1 animated fadeInUp delay-2s">
            <a href="https://www.smaartt.com/" target="_blank">
                <img src="/assets/img/sponsors/spons3.png" class="logo" alt="">
                <div class="content">
                <p></p>
                </div>
            </a>
        </article>
        
        
        <article class="style1 animated fadeInUp delay-2s">
            <a href="https://www.snapchat.com/" target="_blank">
                <img src="/assets/img/sponsors/snap.png" class="logo" id="snapchat" alt="">
                <div class="content">
                <p></p>
                </div>
            </a>
        </article>
        <article class="style1 animated fadeInUp delay-2s">
            <a href="https://www.marriott.com/hotels/travel/cokmc-kochi-marriott-hotel/" target="_blank">
                <img src="/assets/img/sponsors/spons7.png" class="logo" alt="">
                <div class="content">
                <p></p>
                </div>
            </a>
        </article>
       
         <article class="style1 animated fadeInUp delay-2s">
            <a href="https://www.arbritonline.com/index.aspx" target="_blank">
                <img src="/assets/img/sponsors/spons8.jpg" class="logo" alt="">
                <div class="content">
                <p></p>
                </div>
            </a>
        </article>

         <article class="style1 animated fadeInUp delay-2s">
            <a href="" target="_blank">
                <img src="/assets/img/sponsors/spons9.jpg" class="logo" alt="">
                <div class="content">
                <p></p>
                </div>
            </a>
        </article>





    </section>
            
    </div>
   
<!--End of sponsors -->
    <section>
        <!-- footer social media icons -->
        <div class="space"></div>
        <div class="container">
            <div class="row">
                <div class="col col-12 animated fadeIn delay-1s">
                    <ul class="social_dhishna ">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/dhishna.cusat/" title=""><i class="fab fa-facebook-f" ></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/dhishna.cusat/" title=""><i class="fab fa-instagram" ></i></a>
                        </li>                        
                        <li>
                            <a target="_blank" href="https://www.youtube.com/channel/UCxa_SzyC6Ylv2M19RGVCArg" title=""><i class="fab fa-youtube" ></i></a>
                        </li>
                        
                    </ul>
                </div>
                <div class="space"></div>
            </div>

        </div>
    </section>


    <!-- script -->
    <script src="assets/js/navbar.js"></script>
    <!-- script -->

</body>
</html>