<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DHISHNA  - About</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <link rel="stylesheet" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/techtalks.css">
    <link rel="stylesheet" href="../assets/css/social_icon.css">
    
    
</head>
<body>

    <!-- canvas section -->
     <section>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js'></script>
        <script src="../assets/js/stars.js"></script>
    </section>
    <!-- canvas ends -->


    <!-- back button -->
    <div class="back_button animated fadeInUp delay-1s">
         <a href="home"><img src="../assets/img/logo.png" alt=""></a>
    </div>

        <!-- navbar -->
        <section>
            <header>
                <div id="myNav" class="overlay">
                    <!-- Button to close the overlay navigation -->
                    
                    <!-- Overlay content -->
                    <div class="overlay-content">
                        
                       <!--  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>  -->     
                        <div onclick="closeNav()" class="burger" id="closebutton">
                             <i class="fa fa-times" aria-hidden="true"></i>
                        </div>   
                        <div class="links">
                            <a href="home">HOME</a>
                            <a href="about">ABOUT</a>
                            <!-- <a href="event.html">EVENTS</a> -->
                            <a href="workshop">WORKSHOPS</a>
                            <!-- <a href="exhibition.html">EXHIBITION</a> -->
                            <a href="outreach">INITIATIVES</a>
                            <a href="http://summit.dhishna.org">SUMMIT</a>
                            <a href="profile">PROFILE</a>
                            <!-- <a href="">MAP</a> -->
                            <a href="contact">CONTACT</a>
                        </div>
            
                        <ul class="circles" id="circles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                         </ul>
                    
                    </div>
                </div>
            </header>
            <div onclick="openNav()" class="burger">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
        </section>
    
    <!-- navbar ends -->
    <section>
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="space"></div>
                <div class="col col-12 text-center text-md-left">
                    <h3 class="home_head animated fadeInUp delay-1s text-center">TECH TALK 2020                    </h3>
                </div>
            </div><!-- &&row -->
             <!-- row -->
            <div class="row animated fadeInUp delay-1s">
                <div class="col col-12">
                    <div class="space-50"></div>
                    <div class="row ">
                        <div class="col col-12" >
                            <div class="about_p text-center">
                                The mind is not a vessel to be filled ,but a fire to be kindled 
                                    <br>- Plutarch
                            </div>
                            
                        </div>
                    </div>
                    <!-- <div class="space-50"></div> -->
                </div>
            </div><!-- &&row -->
            
        </div><!-- container end -->
        
    </section>
    <!-- =========================================== -->
    <div class="space-50"></div>
    <section>
        <div class="container ">
            <div class="row align-items-center animated fadeInUp delay-1s"> 
        
                <div class="col col-12 text-center about_p ">
                    Breaking down  the myths built around the concepts of physics “Tech Talk 2020” aims to create a better understanding of our universe. For ages there has been several misunderstandings and speculations about many scientific findings. We aim to address a few of these with the support of experts from different domains.  
                    The event TECH TALK 2020, consists of three talks centered around topics of astrobiology, cosmology and photonics which will be delivered by three eminent speakers. This will also be a platform where participants can interact with the speakers to know more about them and their research.   
                    

                </div>
            </div>
            

        </div>
    </section>
<br><br>
    <div class="site-section ">
        <div class="container">
          <div class="row mb-5 animated fadeInUp delay-1s">
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <div class="site-section-heading">
                <h2>Speakers</h2>
              </div>
            </div>
           
          </div>
          <br>
          <div class="row align-items-center speaker animated fadeInUp delay-1s">
            <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
              <img src="../assets/img/tech-talk/Charley.jpg" alt="Image" class="img-fluid" style="height: 400px">
            </div>
            <div class="col-lg-6 ml-auto">
              <h2 class="text-white mb-4 name" data-aos="fade-right" data-aos-delay="200">Dr. Charles H Lineweaver
            </h2>
              <div class="bio pl-lg-5">
               <p class="mb-4" data-aos="fade-right" data-aos-delay="400">

                    Dr Charles H. Lineweaver is the convener of the Australian National University's Planetary Science Institute and holds a joint appointment as an associate professor in the Research School of Astronomy and Astrophysics and the Research School of Earth Sciences.
                    He obtained an undergraduate degree in physics from Ludwig Maximilians Universitat, Munich, Germany and a Ph.D. in astrophysics from the University of California at Berkeley (in 1994) He was a member of the COBE satellite team that discovered the temperature fluctuations in the cosmic microwave background
                    Areas of expertise
                    Astrobiology
                    Planetary Science (Excl. Extraterrestrial Geology)
                    Cosmology And Extragalactic Astronomy
                    Stellar Astronomy And Planetary Systems
                    Extraterrestrial Geology
                    Astronomical And Space Instrumentation
                    Evolutionary Biology
                    </p>
                   </div>
            </div>
          </div>
  
          
          
          <div class="row align-items-center speaker animated fadeInUp delay-1s">
             <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
              <img src="../assets/img/tech-talk/sp2.png" alt="Image" class="img-fluid" style="height: 400px;transform: scaleX(-1);">
            
            </div>
            <div class="col-lg-6 ml-auto">
                <h2 class="text-white mb-4 name" data-aos="fade-right" data-aos-delay="200">Prof. L Sriramkumar 
  
              </h2>
                <div class="bio pl-lg-5">
                 <p class="mb-4" data-aos="fade-right" data-aos-delay="400">
  
                  He is presently a Professor and a member of the Gravitation and Cosmology Group in the Department of Physics at the Indian Institute of Technology Madras, Chennai. Earlier, he was a member of the faculty at the Harish-Chandra Research Institute, Allahabad, and had moved to the Indian Institute of Technology Madras in 2011.
              </p>
            </div>
          </div>
            
            
           
            
          </div>
  

          <div class="row align-items-center speaker animated fadeInUp delay-1s">
            <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
              <img src="../assets/img/tech-talk/sp4.png" alt="Image" class="img-fluid"  style="height: 400px">
            </div>
            <div class="col-lg-6 ml-auto">
              <h2 class="text-white mb-4 name" data-aos="fade-right" data-aos-delay="200">RINU ABRAHAM MANIYARA
            </h2>
              <div class="bio pl-lg-5">
               <p class="mb-4" data-aos="fade-right" data-aos-delay="400">

                  
Rinu Abraham is a postdoctoral fellow at PennState University, USA. He was the first rank holder at both graduation and Post graduation from University of Calicut in Electronics and completed his Ph.D. in Photonics, ICFO, The Institute of Photonic Sciences, Barcelona, Spain, with the highest distinction of Excellent Cum Laude.
He was the lecturer in electronics at college of applied science, Vadakkancherry, Palakkad, and college
of applied science, Calicut, Kerala, India (both University of Calicut). Giving classes to both undergraduate and postgraduate students in various disciplines related to electronics and computer science.



            </div>
          </div>
      
          <section class="schedule animated fadeInUp delay-1s">
            <div class="site-section">
                <div class="container">
                  <div class="row mb-5">
                    <div class="col col-12" data-aos="fade-up">
                      <div class="site-section-heading">
                        <h3 >Programs</h3>
                      </div>
                    </div>
                    
                  </div>
          
                  <div class="row align-items-stretch program">
                    <div class="col-12 border-top border-bottom py-5" data-aos="fade" data-aos-delay="200">
                      <div class="row align-items-stretch">
                        <div class="col-md-3 text-white mb-3 mb-md-0"><span class="h4">9:00 am- 10:00 am </span> </div>
                        <div class="col-md-9">
                          <h5 class="text-white"> Inauguration
                        </h5>
                          
                        </div>
                      </div>
                    </div>
          
                    <div class="col-12 border-bottom py-5" data-aos="fade" data-aos-delay="300">
                      <div class="row align-items-stretch">
                        <div class="col-md-3 text-white mb-3 mb-md-0"><span class="h4">10:00 am - 11:30 am</span></div>
                        <div class="col-md-9">
                            <h5 class="text-white">Charley Lineweaver</h5>
                          
                        </div>
                      </div>
                    </div>
          
                    <div class="col-12 border-bottom py-5" data-aos="fade" data-aos-delay="400">
                      <div class="row align-items-stretch">
                        <div class="col-md-3 text-white mb-3 mb-md-0"><span class="h4">11:30 am - 1:00 pm </span> </div>
                        <div class="col-md-9">
                            <h5 class="text-white">L Sriramkumar</h5>
                          
                        </div>
                      </div>
                    </div>
          
                    <div class="col-12 border-bottom py-5" data-aos="fade" data-aos-delay="500">
                      <div class="row align-items-stretch">
                        <div class="col-md-3 text-white mb-3 mb-md-0"><span class="h4">1:00 pm - 2:00 pm </span> </div>
                        <div class="col-md-9">
                          <h5 class="text-white">Lunch Break
                        </h5>
                        </div>
                      </div>
                    </div>
          
                    <div class="col-12 border-bottom py-5" data-aos="fade" data-aos-delay="600">
                      <div class="row align-items-stretch">
                        <div class="col-md-3 text-white mb-3 mb-md-0"><span class="h4">2:00 pm - 3:00 pm</span> </div>
                        <div class="col-md-9">
                          <h5 class="text-white">Rinu Abraham Maniyara</h5>
                          <span></span>
                        </div>
                      </div>
                    </div>
          
                    
                    </div>
          
          
                  </div>
                </div>
              
            </section>

    <section>
        <!-- footer social media icons -->
        <div class="space"></div>
        <div class="container" style="padding-left: 80vh;">
            <div class="row">
                <div class="col col-12 ">
                     <ul class="social_dhishna ">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/dhishna.cusat/" title=""><i class="fab fa-facebook-f" ></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/dhishna.cusat/" title=""><i class="fab fa-instagram" ></i></a>
                        </li>
                       
                        <li>
                            <a target="_blank" href="https://www.youtube.com/channel/UCxa_SzyC6Ylv2M19RGVCArg" title=""><i class="fab fa-youtube" ></i></a>
                        </li>
                        
                    </ul>
                </div>
                <div class="space"></div>
            </div>

        </div>
    </section>
    


    <!-- script -->
    <script src="../assets/js/navbar.js"></script>
    <!-- script -->

</body>
</html>