<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DHISHNA - | WORKSHOP</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="assets/css/workshop.css">
    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/social_icon.css">
    
    
</head>
<body>

        <!-- navbar -->
        <%- include("partials/nav.ejs"); %>
    <!-- navbar ends -->
    <section>
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="space"></div>
                <div class="col col-12 text-center text-md-left">
                    <h3 class="home_head">WORKSHOP</h3>
                </div>
            </div><!-- &&row -->
             <!-- row -->
            <div class="row">
                <div class="col col-12 col-xl-6">
                    <div class="space-50"></div>
                    <div class="col col-12 " >
                        <ul class="filter_link">
                            <li><a href="">All</a></li>
                            <li><a href="">Codeing</a></li>
                            <li><a href="">Games & fun</a></li>
                            <li><a href="">Management</a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- &&row -->
            
        </div><!-- container end -->
        
    </section>
    <!-- =========================================== -->
    <section>
    <div class="container">
        <div class="row">
            <div class="col col-12 stage">
                <div class="space-50"></div>
                <div class="container_c">

                    <!-- card -->
                    <div class="card">
                        <div class="imgBx" data-text="Design">
                            <div class="workshop_head">
                                ML Workshop
                            </div>
                        </div>
                        <div class="content">
                            <div>
                                <h3>Design</h3>
                                <p>aofaifsinfsnfin </p>
                                <a href="#">know more</a>
                            </div>
                        </div>
                    </div>
                    <!--  -->


                     <!-- card -->
                     <div class="card">
                        <div class="imgBx" data-text="Design">
                            <div class="workshop_head">
                                ML Workshop
                            </div>
                        </div>
                        <div class="content">
                            <div>
                                <h3>Design</h3>
                                <p>aofaifsinfsnfin </p>
                                <a href="#">know more</a>
                            </div>
                        </div>
                    </div>
                    <!--  -->


                     <!-- card -->
                     <div class="card">
                        <div class="imgBx" data-text="Design">
                            <div class="workshop_head">
                                ML Workshop
                            </div>
                        </div>
                        <div class="content">
                            <div>
                                <h3>Design</h3>
                                <p>aofaifsinfsnfin </p>
                                <a href="#">know more</a>
                            </div>
                        </div>
                    </div>
                    <!--  -->


                     <!-- card -->
                     <div class="card">
                        <div class="imgBx" data-text="Design">
                            <div class="workshop_head">
                                ML Workshop
                            </div>
                        </div>
                        <div class="content">
                            <div>
                                <h3>Design</h3>
                                <p>aofaifsinfsnfin </p>
                                <a href="#">know more</a>
                            </div>
                        </div>
                    </div>
                    <!--  -->

                     <!-- card -->
                     <div class="card">
                        <div class="imgBx" data-text="Design">
                            <div class="workshop_head">
                                ML Workshop
                            </div>
                        </div>
                        <div class="content">
                            <div>
                                <h3>Design</h3>
                                <p>aofaifsinfsnfin </p>
                                <a href="#">know more</a>
                            </div>
                        </div>
                    </div>
                    <!--  -->

                     <!-- card -->
                     <div class="card">
                        <div class="imgBx" data-text="Design">
                            <div class="workshop_head">
                                ML Workshop
                            </div>
                        </div>
                        <div class="content">
                            <div>
                                <h3>Design</h3>
                                <p>aofaifsinfsnfin </p>
                                <a href="#">know more</a>
                            </div>
                        </div>
                    </div>
                    <!--  -->



                </div>
            </div>
        </div>
    </div>

    </section>


    <%- include("partials/footer.ejs"); %>

    <!-- script -->
    <script src="assets/js/navbar.js"></script>
    <!-- script -->
</body>
</html>