<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DHISHNA  - Spotlight</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/about.css">
    <link rel="stylesheet" href="assets/css/social_icon.css">
    
    
</head>
<body>

    <!-- canvas section -->
     <section>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js'></script>
        <script src="assets/js/stars.js"></script>
    </section>
    <!-- canvas ends -->


    <!-- back button -->
    <div class="back_button animated fadeInUp delay-1s">
         <a href="home"><img src="assets/img/logo.png" alt=""></a>
    </div>

        <!-- navbar -->
        <%- include("../partials/nav") %>
    
    <!-- navbar ends -->
    <section>
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="space"></div>
                <div class="col col-12 text-center text-md-left">
                    <h2 class="home_head animated fadeInUp delay-1s text-center ">SPOTLIGHT </h2>
                </div>
            </div><!-- &&row -->
             <!-- row -->
            <div class="row animated fadeInUp delay-1s">
                <div class="col col-12">
                    <div class="space-50"></div>
                    <div class="row ">
                        <div class="col col-12" >
                            <div class="about_p text-center">
                             
                            </div>
                            
                        </div>
                    </div>
                    <!-- <div class="space-50"></div> -->
                </div>
                <div class="col col-12 text-white text-center ">
                        <br><br><br>
                        <img src="assets/img/spotlight/spotlight3.png" class="img-fluid" alt="">
                    <h2 class="text-white ">Promenade </h2>  <br>
                    <br><br>
                     <a href="https://www.instamojo.com/dhishna2020/promenad/" title=""><button type="button" class="btn btn-danger">Register</button></a>  <br><br><br>

                     <div class="text-left">
                     	Talent is not rare but the opportunity to showcase is.
We present to you the 'Promenade' The Western Group Dance Competition'- a platform where hundreds of hearts beat with exhilaration to set the stage on fire.
Try to stay calm as some of the best college teams go head - on against each other on the biggest stage you can possibly imagine. A stage with an audience of thousands. A stage, where only the best of the best competes to be crowned the ultimate champion. Grab the chance to set the stages of Dhishna 2020 on fire.  
                     </div>
                    
                </div>
                <div class=" col col-12 text-white">
                  
                
                    <br><br>

                   
                    <span class="text-info">*This is a free event .Only team leader have to register and Paid amount will be refunded</span> 

                    <br><br>
                    Dance forms allowed - Hip Hop, locking, popping, bboying, etc. <br><br>
                    Team size : 4 - 30 people <br><br>
 There is no restriction on the number of teams per college. <br><br>
Props like fire, Holi, flower, water, smoke, candles or other
flammable items are not allowed. <br><br>
Length of the performance (including setup time) should
between 2-7 minutes. <br><br>
Slots will be allotted through slot picking at the reporting desk. <br><br>
Get your music in a pen-drive or CD and submit it at least two
hours prior to the event at the reporting desk. <br><br>
 Judging for all teams will be done based on the below criteria: <br><br>

1. Choreography  <br>  2. Costumes <br> 
3. Stage usage 4. <br>   Co-ordination <br>

5. Creativity 6. Overall impact <br><br>
 Get your College ID or any identification card affiliated to any organization. <br>

                </div>
            </div><!-- &&row -->







             <div class="row animated fadeInUp delay-1s">
                <div class="col col-12">
                    <div class="space-50"></div>
                    <div class="row ">
                        <div class="col col-12" >
                            <div class="about_p text-center">
                             
                            </div>
                            
                        </div>
                    </div>
                    <!-- <div class="space-50"></div> -->
                </div>
                <div class="col col-12 text-white text-center">
                        <br><br><br><br><br>
                         <img src="assets/img/spotlight/spotlight2.png" class="img-fluid" alt=""><br><br>
                    <h2 class="text-white ">Raaga-Rhapsody Solo Vocals </h2>  <br><br>
                  <a href="https://www.instamojo.com/dhishna2020/ragarhapsody/" title=""> <button type="button" class="btn btn-danger">Register</button></a> 
                    <span class="text-white ">.</span>  

                    <br><br>
                    
                </div>
                <div class=" col col-12 text-white ">
                    
                
                    <br><br>

                    
                    <br><br>
                      <span class="text-info">*This is a free event .Only team leader have to register and Paid amount will be refunded</span> 


                     <br><br>
                    Spot registrations are permitted, but it is
advisable to register online.  <br><br>
All
participants must carry valid college ID. <br><br>
All participants must adhere to the
western or eastern light music theme of
the event. However, there are no
language restrictions. <br><br>
Performance should either be western or
eastern. A mixture of both isn't allowed.
Western and Eastern light music
performers will be judged in separate
categories based on the total number of
performers. <br><br>
Each performer will be given 7 minutes
with 1 additional minute for soundcheck.
A performer is allowed one instrumental
accompaniment. Instruments will not be
provided by us. <br><br>
Karaoke tracks without any vocal chorus
are permitted. Karaoke must be brought
by the performer in a device with aux
support. <br><br>
Since this is a light vocal competition,
pure classical songs are strictly not
allowed. However, semi-classical is
allowed. <br><br>
Shruthi box is allowed. You are expected
to bring your own. 
Metronome is not allowed. <br><br>
In case of any discrepancy, the event
organisers' OR judge's decision would
be final and binding. <br><br>

                </div>
            </div><!-- &&row -->







            <div class="row animated fadeInUp delay-1s">
                <div class="col col-12">
                    <div class="space-50"></div>
                    <div class="row ">
                        <div class="col col-12" >
                            <div class="about_p text-center">
                             
                            </div>
                            
                        </div>
                    </div>
                    <!-- <div class="space-50"></div> -->
                </div>
                <div class="col col-12 text-white text-center ">
                        <br><br><br>
                        <img src="assets/img/spotlight/spotlight1.png" class="img-fluid" alt=""> 
                    <h2 class="text-white ">Step up solo </h2>  <br>
                     <br><br> 

                     <a href="https://www.instamojo.com/dhishna2020/step-up-solo/" title=""><button type="button" class="btn btn-danger">Register</button></a> <br><br>
                    <br>

                    <div class="text-left">
                    	 Step up the volume, step up the beats, step up the electrifying mood, step up those dance moves. Spotlight gives you a chance to take your talent one step higher with Step Up, the solo dance contest. So are you geared up to step up? Gyrate with your moves and prove it then

                    </div>
                   

                </div>
                <div class=" col col-12 text-white">
                  
                
                    <br><br>

                   
                    <span class="text-info">*This is a free event .Only team leader have to register and Paid amount will be refunded</span> 

                    <br><br>
                     Dance forms allowed - Hip Hop, locking, popping, bboying, etc. <br><br>

There is no restriction on the number of participants per
college. <br><br>
Props like fire, Holi, flower, water, smoke, candles or other
flammable items are not allowed. <br><br>
Length of the performance(including setup time ) should be
between 2-3 minutes. <br><br>
 Slots will be allotted through slot picking at the reporting
desk. <br><br>
 Get your music in a pen-drive or CD and submit it at least two
hours prior to the event at the reporting desk. <br><br>
Judging for all teams will be done based on the below
criteria:<br><br>
1) Choreography <br>
2) Costumes <br>

3) Stage usage <br>
4) Creativity <br>
5) Overall impact <br> <br>
 Get your College ID or any identification card affiliated to any
organization. <br>
*Rules are liable to change. Judges decision is final. <br>

                </div>
            </div><!-- &&row -->





            
        </div><!-- container end -->
        
    </section>
    <!-- =========================================== -->
    <div class="space-50"></div>
    <section>
        <div class="container ">
            
            

        </div>
    </section>

   

    <section>
        <!-- footer social media icons -->
        <div class="space"></div>
        <div class="container">
            <div class="row">
                <div class="col col-12 animated fadeIn delay-1s">
                    <ul class="social_dhishna ">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/dhishna.cusat/" title=""><i class="fab fa-facebook-f" ></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/dhishna.cusat/" title=""><i class="fab fa-instagram" ></i></a>
                        </li>
                       
                        <li>
                            <a target="_blank" href="https://www.youtube.com/channel/UCxa_SzyC6Ylv2M19RGVCArg" title=""><i class="fab fa-youtube" ></i></a>
                        </li>
                        
                    </ul>
                </div>
                <div class="space"></div>
            </div>

        </div>
    </section>


    <!-- script -->
    <script src="assets/js/navbar.js"></script>
    <!-- script -->

</body>
</html>