<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DHISHNA - | LOGIN |</title>
  
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <link rel="stylesheet" href="assets/css/common.css">
    <link rel="stylesheet" href="assets/css/login.css">
    
</head>
<body>
   
    <!-- canvas section -->
    <section>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js'></script>
        <script src="assets/js/stars.js"></script>
    </section>
    <!-- canvas ends -->

    <section>
        <div class="space"></div>
        <div class="row">
            <div class="col col-12">
                <div class="form_box ">
                 
                        <form  id="login_form" class="login_form" method="POST" action="/login">
                            
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="Email" name="username"required>
                            </div>
                            <div class="form-group">
                              <label for="password">Password</label>
                              <input type="password" class="form-control" id="password" name="password" aria-describedby="emailHelp" required>
                            </div>
            
                                <div class="text-center">
                                    <button  class="btn btn-dark">Login</button>
                                </div>
                                <div class="space-50"></div>
                            <div class="col col-12 text-center">
                                New user ? <a href="/register">Sign Up</a> 
                            </div>
                        
                        </form>  <!-- form ends --> 
                   
                </div>
            </div>
        </div>

        <a href="/forgot">forgot password?</a>
    </section>

    <!-- back button -->
    <div class="back_button animated fadeInUp delay-1s">
        <a href="home"><img src="assets/img/logo.png" alt=""></a>
   </div>


    <!-- theme tag section -->
    <section>
        <div class="theme">
            &copy; DHISHNA 2020 <br>
           THE INFINITE ODYSSEY
          </div>
    </section>
    <!-- theme tag section ends -->
    <script src="assets/js/boom.js"></script>
</body>
</html>