<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DHISHNA - | <%= user.user_.name %></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/event.css">
    <link rel="stylesheet" href="/assets/css/event_box.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/social_icon.css">
    <script src="/assets/js/overlay_close.js"></script>
</head>
<body>  

     <!-- canvas section -->
     <section>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js'></script>
        <script src="/assets/js/stars.js"></script>
    </section>
    <!-- canvas ends -->


    <!-- back button -->
    <div class="back_button animated zoomIn delay-1s">
        <a href="home"><img src="/assets/img/logo.png" alt=""></a>
    </div>


<!-- navbar -->
<%- include("partials/nav") %>
    
<!-- navbar ends -->
<section>
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="space"></div>
            <div class="space-50"></div>
            <div class="col col-12 text-center text-md-left">
                <h3 class="home_head animated fadeInUp delay-1s text-center">Hello <%= user.user_.name %></h3>
            </div>
        </div><!-- &&row -->
         <!-- row -->
        <!-- &&row -->
        
    </div><!-- container end -->
    
</section>



    <!-- =========================================== -->
    <section>
    <div class="container">
        <div class="row">
        	<div class="col col-12 text-center text-warning animated fadeInUp delay-1s">
                Show this QR code when you come to our events <br>
                <div class="space-50"></div>
        	</div>
            <div class="col col-12 text-center text-white animated fadeInUp delay-1s">
                <a href="workshop" title="">Register for workshops</a> <br>
                <div class="space-50"></div>
            </div>
            <div class="col col-12 text-center animated fadeIn delay-1s">
                <img src="<%= user.qr %>">
            </div>
        </div>
    </div>


    </section>


    <section>
        <!-- footer social media icons -->
        <div class="space"></div>
        <div class="container">
            <div class="row">
                <div class="col col-12 ">
                    <ul class="social_dhishna animated fadeInUp delay-1s">
                        <li>
                            <a href="https://www.facebook.com/dhishna.cusat/" title=""><i class="fab fa-facebook-f" ></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/dhishna.cusat/" title=""><i class="fab fa-instagram" ></i></a>
                        </li>
                       
                        <li>
                            <a href="https://www.youtube.com/channel/UCxa_SzyC6Ylv2M19RGVCArg" title=""><i class="fab fa-youtube" ></i></a>
                        </li>
                        
                        
                    </ul>
                </div>
                <div class="space"></div>
            </div>

        </div>
    </section>


    <script src="/assets/js/modernizr.custom.js"></script> 
    <!-- script -->
    <script src="/assets/js/navbar.js"></script>
   
    <!-- script -->

</body>
</html>