<h1>Welcome to Register</h1>

<form action="/register" method="POST">
    <input type="email" name="username" id="name">
    <input type="password" name="password" id="pass">
    <input type="text" name="name">
    <input type="number" name="phone">
    <input type="text" name="inst">
    <button>Sign Up!</button>
</form>
