<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DHISHNA - FRONT DESK</title>
  
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <style type="text/css" media="screen">
        .space{
            width: 100%;
            height: 100px;
        }
        .space-50{
            width: 100%;
            height: 50px;
        }
        .space-20{
            width: 100%;
            height: 20px;
        }
        .container{
          overflow-x: scroll;
        }
        
    </style>
    
</head>
<body>
   
   <div class="container">
    <div class="row">
        <div class="col col-12">
            <div class="jumbotron jumbotron-fluid bg-white">
                <div class="container">
                  <h1 class="display-4"> <i class="fas fa-home"></i> FRONTDESK</h1>
                  
                </div>
              </div>


        </div>
        <div class="col col-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="home-tab"  href="sadads" role="tab"  aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="profile-tab"  href="dasads" role="tab" aria-selected="false">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="contact-tab"  href="adadssad" role="tab"  aria-selected="false">Contact</a>
                </li>
              </ul>
        

        </div>

        <div class="space-50"></div>

        <div class="col col-12">
            <div class="card">
                <div class="card-header bg-success">
                  registration open
                </div>
                <div class="card-body">
                  <h5 class="card-title">Event name</h5>
                  <p class="card-text">location</p>
                  <a href="#" class="btn btn-danger">view list</a>
                </div>
              </div>
        </div>

     </div>
   </div>
       
        
</body>
</html>