<h1>Admin Page</h1>

<li><a href="exhibition">Manage Exhibition</a></li>
<li><a href="free">Manage Free Events</a></li>
<li><a href="paid">Manage Paid Events</a></li>
<li><a href="ws">Manage Workshops</a></li>