@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

body{
    background-color: #1d1e20;
    font-family:'Montserrat', sans-serif;
}


.home_head{
    font-size: 3em;
    color: white;
    font-family:'Montserrat', sans-serif;
    /* text-shadow:0px 0px 20px #e614c6; */
    
}

.about_p{
    font-size: 2em;
    color: white;
}

.about_text{
    font-size: 2em;
    color: white;
}

.stage{
    
    background-color: #282828;
    border-radius: 20px;
}

/* ========================================== */

.container_b{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.card{
	width: 300px;
	height: 400px;
	transform-style: preserve-3d;
	transition: 1s;
	box-shadow: inset 300px 0px 50px rgba(0,0,0,0.5);
    margin: 20px auto;
    border-radius: 20px;


}

.card .details{
	position: absolute;
	top: 0;
    left: 0;
   
}

.card:hover{
	transform: perspective(2000px) rotate(-10deg);
	box-shadow: inset 20px 0px 50px rgb(0,0,0,0.5); 
}

.card .imgB{
	position: relative;
	width: 100%;
	height:100%;
	box-sizing: border-box;
	transform-origin: left;
	z-index: 1;
    transition: 1s;
    background:linear-gradient(135deg, #C56CD6 0%,#3425AF 100%);
    border-radius: 20px;
}

.h_text{
    font-family:'Montserrat', sans-serif;
    font-size: 1.4em;
    color: white;
    margin-top: 50%;
    text-align: center;
}


.card .imgB img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card:hover .imgB{
    transform: rotateY(-135deg);
}

/* ========================================== */

.frame{
    width: 100%;
    height: 80vh;
    box-shadow: 0px 0px 20px  #e614c6;
    border-radius: 20px;
}

