.links{
    padding: 20px;
    padding-top: 50px;

}
.overlay {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    padding:0;
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
     /* Black fallback color */
    background-color: rgba(0,0,0, 1);
     /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 0%; /* 25% from the top */
    width: 100%; /* 100% width */
    height: 100%;
    text-align: center; /* Centered text/links */
     /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: fixed;
    top: 0px;
    right: 10px;
    font-size: 3em;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  /* =========================== ANIMATED BACKROUND =================*/

  .area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    z-index: -20;
   
}

.circles{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    z-index: -20;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: floating 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    background:linear-gradient(135deg, #FF57B9 0%,#A704FD 100%);
    box-shadow: 0px 0px 20px #E62DE8;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    background:linear-gradient(135deg, #DFEC51 0%,#73AA0A 100%);
    box-shadow: 0px 0px 20px #73AA0A;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    background:linear-gradient(135deg, #CE9FFC 0%,#7367F0 100%);
    box-shadow: 0px 0px 20px #7367F0;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    background:linear-gradient(135deg, #C56CD6 0%,#3425AF 100%);
    box-shadow: 0px 0px 20px #3425AF;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    background:linear-gradient(135deg, #F36265 0%,#961276 100%);
    box-shadow: 0px 0px 20px #3425AF;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    background:linear-gradient(135deg, #65799b 0%,#5e2563 100%);
    box-shadow: 0px 0px 20px #5e2563;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    background:linear-gradient(135deg, #fad961 0%,#f76b1c 100%);
    box-shadow: 0px 0px 20px #f76b1c ;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    background:linear-gradient(135deg, #F5515F 0%,#A1051D 100%);
    box-shadow: 0px 0px 20px #A1051D  ;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    background:linear-gradient(135deg, #42e695 0%,#3bb2b8 100%);
    box-shadow: 0px 0px 20px #3bb2b8  ;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes floating {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


/* ========================== */

.burger{
    position: fixed;
    padding: 10px;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    color: white;
    font-size: 2.5em;
    text-align: center;
    z-index: 20;
   
}


.burger:hover{
    text-shadow: 0px 0px 20px #E62DE8;
    color: #E62DE8;;
}

#closebutton{
    display: none;
    z-index: 100;
}

