@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

body{
    background-color: #1d1e20;
    font-family:'Montserrat', sans-serif;
}


.home_head{
    font-size: 3em;
    color: white;
    font-family:'Montserrat', sans-serif;
}

.filter_link{
    display:block;
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    padding-left: 0px;
    /* margin-left: -10px; */ 
}

@media screen and (max-width:450px){
    .filter_link{
       display: list-item;
    }
}

.filter_link li a{
    color:white;
    font-size: 1.2em;
    text-decoration: none;
    padding-right: 20px;
    padding-top: 10px;
    font-family:'Montserrat', sans-serif;
}

.filter_link li a:hover{
    color:#ca3466;
}



.stage{
    
    background-color: #282828;
    border-radius: 20px;
}


/* ======================= */
/* card animation */



.container_c{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.container_c .card {
    position: relative;
    height: 250px;
    background: #fff;
    display: flex;
    width: 45%;
    margin: 30px 0;
}

.workshop_head{
    font-family:'Montserrat', sans-serif;
    font-size: 2em;
    color: white;
    transition: 1s;
}

.container_c .card .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #333; */
    background:linear-gradient(135deg, #fad961 0%,#f76b1c 100%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.container_c .card:hover .imgBx {
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    /* background: #ff0057; */
    background:linear-gradient(135deg, #fad961 0%,#f76b1c 100%);
}

.container_c .card:hover .workshop_head{
    font-size: 0.8em;
}

.container_c .card:hover{
    box-shadow: 0px 0px 20px #10f232 ;
}

/* ======================================= */
.container_c .card:nth-child(5n + 1) .imgBx{
    background:linear-gradient(135deg, #fad961 0%,#f76b1c 100%);
}

.container_c .card:nth-child(5n + 2) .imgBx{
    background:linear-gradient(135deg, #C56CD6 0%,#3425AF 100%);
}

.container_c .card:nth-child(5n + 3) .imgBx{
    background:linear-gradient(135deg, #17ead9 0%,#6078ea 100%);
}
.container_c .card:nth-child(5n + 4) .imgBx{
    background:linear-gradient(135deg, #b1ea4d 0%,#459522 100%);
}
.container_c .card:nth-child(5n + 5) .imgBx{
    background:linear-gradient(135deg, #184e68 0%,#57ca85 100%);
}


/* ======================================= */
.container_c .card .imgBx:before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-style: 6em;
    color: rgba(255, 255, 255, .05);
    font-weight: 700;
}

.container_c .card .imgBx img {
    max-width: 100px;
    transition: 0.5s ease-in-out;
}

.container_c .card .imgBx img {
    max-width: 75;
}

.container_c .card .content {
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_c .card .content h3 {
    margin-bottom: 5px;
    font-size: 24px;
}

.container_c .card .content a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
}

@media (max-width:992px) {
    .container_c {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .container_c .card {
        width: 400px;
    }
}

@media (max-width:768px) {
    .container_c .card {
        max-width: 400px;
        flex-direction: column;
        height: auto;
        width: 300px;
    }
    .container_c .card .imgBx {
        position: relative;
    }
    .container_c .card .imgBx,
    .container_c .card:hover .imgBx {
        width: 100%;
        height: 200px;
        left: 0;
    }
    .container_c .card .imgBx img,
    .container_c .card:hover .imgBx img {
        max-width: 100px;
    }
    .container_c .card .content {
        position: relative;
        width: 100%
    }

    .container_c .card:hover .workshop_head{
        font-size: 2.1em;
    }
    
}