<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DHISHNA - | Mercedes|</title>
  
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <style type="text/css" media="screen">
        .space{
            width: 100%;
            height: 100px;
        }
        .space-50{
            width: 100%;
            height: 50px;
        }
        .space-20{
            width: 100%;
            height: 20px;
        }
        .container{
          overflow-x: scroll;
        }
        
    </style>
    
</head>
<body>
 <div class="row">
  <div class="col col-12 text-center">
    <a href="/handle/merci/view" title=""><button type="button" class="btn btn-info"><i class="fas fa-home"></i> Back</button></a>
  </div>
  <div class="space-20">
    
  </div>
  <div class="col col-12 text-center">
    Spot Registration
  </div>
  <div class="space-20">
    
  </div>
   <div class="col col-12">
    <form  action="new" method="POST" >
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="name" required name="name" >
          </div>
          <div class="form-group">
            <input type="email" class="form-control"  aria-describedby="emailHelp" placeholder="email" required 
            name="email">
          </div>

          <div class="form-group">
            <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="phone" required name="phone"pattern="[0-9]{10}" >
          </div>

          <div class="form-group">
            <input type="text" class="form-control"  aria-describedby="emailHelp" placeholder="" required name="isSpot"  value="true" readonly="" style="display: none;">
          </div>
  
          <button type="submit" class="btn btn-primary">Submit</button>

    </form>
   </div>
 </div>
        
</body>
</html>